<ion-header>
  <ion-navbar color="primary" >
    <ion-title text-center>
      Carnaval de Prado del Rey
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-fab right bottom>
    <button ion-fab (tap)="nuevoEvento()">
       <ion-icon name="md-happy"></ion-icon>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  
  <ion-list >
    <ion-item-sliding #item *ngFor="let evento of eventos"> 
    <ion-item (click)="muestraEvento(evento)">
      <ion-thumbnail item-left>
        <img [src]="evento.foto">
      
      </ion-thumbnail>
      <h2>{{evento.nombre }}</h2>
      <p>{{evento.direccion }}</p>
      <p>{{evento.description  }}</p>
      <p>{{evento.horario  }}</p>  
    
    </ion-item>

     <ion-item-options side="right"> 
      <button ion-button  color="danger" (click)="borrarEvento(evento.id)"><ion-icon name="trash"> Borrar</ion-icon>
      </button>
    </ion-item-options>
   </ion-item-sliding>
  </ion-list>
</ion-content>

