<!--
  Generated template for the ModalNuevoEventoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Añade un nuevo Evento</ion-title>
   <ion-buttons start>
      <button ion-button (click)="cerrarModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-content padding>
    <ion-card>
      <ion-card-header>
        Nuevo Evento creado
      </ion-card-header>
      <ion-card-content>
      <form (ngSubmit)="guardarEvento()">
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-textarea [(ngModel)]="nombre" name="nombre"></ion-textarea>
        </ion-item>
      
        <ion-item>
          <ion-label>Direccion:</ion-label>
          <ion-textarea [(ngModel)]="direccion" name="direccion"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label>Descripción</ion-label>
          <ion-textarea [(ngModel)]="description" name="description"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Horario</ion-label>
          <ion-textarea [(ngModel)]="horario" name="horario"></ion-textarea>
        </ion-item>
        
        
        <ion-item>
          <img [src]="foto" *ngIf="foto" />
          <button ion-button icon-left full type="button" (tap)="sacarFoto()">
            Foto&nbsp;&nbsp;          
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-item>
        <hr/>
        
        <button ion-button type="submit" block>Guardar Evento</button>
      </form>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
</ion-content>
