<!--
  Generated template for the DetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalle de nuestro evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="!edit">
   <img [src]="evento.foto" *ngIf="evento.foto" />
   <ion-card-content>
      <ion-item text-wrap>
         <h2>{{ evento.nombre }}</h2>
         <p>{{evento.direccion }}</p>
         <p>{{evento.description  }}</p>
         <p>{{evento.horario  }}</p> 
       </ion-item>
   </ion-card-content>
   <ion-row>
    <ion-col>
        <button ion-button icon-left clear small (click)="editar(evento)">
          <ion-icon name="editar"></ion-icon>
          <div>Editar nuestro evento</div>
        </button>
     </ion-col>
   </ion-row>
</ion-card>
  <ion-card *ngIf="edit">
     <ion-card-content>
     <form (ngSubmit)="guardarCambios()">
     <ion-item>
       <img [src]="evento.foto" *ngIf="evento.foto" />
       <button ion-button icon-left full type="button" (tap)="sacarFoto()">
         Foto&nbsp;&nbsp;
         <ion-icon name="camera"></ion-icon>
       </button>
     </ion-item>
     <hr/>
     <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-textarea [(ngModel)]="evento.nombre" name="nombre"></ion-textarea>
      </ion-item>
    
     <ion-item>
          <ion-label>direccion</ion-label>
          <ion-textarea [(ngModel)]="evento.direccion" name="direccion"></ion-textarea>
    </ion-item>
    <ion-item>
       <ion-label>Descripción</ion-label>
       <ion-textarea [(ngModel)]="evento.description" name="description"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label>Horario</ion-label>
        <ion-textarea [(ngModel)]="evento.horario" name="horario"></ion-textarea>
     </ion-item>
     
     <button ion-button type="submit" block>Actualizar Evento</button>
   </form>
   </ion-card-content>
  </ion-card>
</ion-content>

